@model TiktokLikeASP.Models.Post

@{
    ViewData["Title"] = "Details";
}



<article>
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <video width=300 height=300 controls>
        <source src="https://localhost:7065/Videos/@Html.DisplayFor(model => model.VideoLink)" type="video/mp4">
    </video>
    <p>By @Html.DisplayFor(model => model.Creator.Name)</p>
    <p>On @Html.DisplayFor(model => model.PublishDate)</p>
</article>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
